body {
    background-color: #1F2937;
    margin-left:650px;
}
#generate-title{
    color: white;
    margin-bottom: 0px;
}
#generate-subtitle{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #4ADF86;
}
#length-title{
     margin-top: 10px;
    margin-bottom: 10px;
    color: #D5D4D8;
    font-weight: small;
    line-height: 1.4;
}
#generate-btn{
    background-color: #4ADF86;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
}